  <container>
    <row class="collapse">

    <columns small="12" large="6">

        <row class="collapse">
            <columns>
<spacer size="1">&nbsp;</spacer>
              <table style="width:180px;margin-left:auto;margin-right:auto">
                  <tbody>
                    <tr>
                          <td style="width:24px;height: 24px;"><img style="padding-top: 3px;" src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/mial.jpg" /></td>
                          <td class="small-text white-contact">info@estilosabroso.es</td>

                      </tr>

                  </tbody>
                </table>

            </columns>
</row>

<row  class="collapse">
            <columns small="12" large="12">
<spacer size="1">&nbsp;</spacer>
              <table style="width: 130px;margin-left:auto;margin-right:auto">
                <tbody>
                  <tr>
                    <td><a href="https://www.facebook.com/estilosabroso/?fref=ts"><img src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/fb.jpg"></a></td>
                      <td><a href="https://pl.pinterest.com/EstiloSabroso/"><img src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/pin.jpg"></a></td>
                      <td><a href="https://www.instagram.com/estilosabroso/"><img src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/insta.jpg"></a></td>
                    </tr>
                  </tbody>
              </table>
            </columns>

          </row>
        </columns>

      <columns small="12" large="6">
        <spacer size="1">&nbsp;</spacer>
        <center>
          <img src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/logobottom.jpg">
        </center>
            </columns>
    </row>
      <spacer size="1">&nbsp;</spacer>
  </container>
