    <row>
      <columns small="12" large="8">
        <table>
            <tbody>
                <tr>
                    <td  rowspan="3"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/oHePBnA.png"></td>
                    <td colspan="2" style="padding-top:10px;"><span class="pink_text"><b>PAWEŁ</b></span><b> DZIĘGIELEWSKI</b></td>
                </tr>
                <tr>
                    <td style="width:24px;height: 24px;"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/fmail.jpg" /></td>
                    <td class="small-text">pawel@amreuro.pl</td>
                    
                </tr>
                <tr>
                    <td style="width:24px;"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/fphone.jpg" >
                    <td class="small-text">56 649 07 47</td>
                </tr>
            </tbody>
          </table>
        </columns>
      <columns small="12" large="4">
       <center>
          <img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/flogo.jpg" />
       </center>
          
          <spacer size="1">&nbsp;</spacer>
          
          <center>
          <table style="width: 130px;">
            <tbody>
              <tr>
                <td><a href="https://www.facebook.com/krolmajtek/"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/fb.jpg"></a></td>
                  <td><a href="https://twitter.com/krolmajtek"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/twit.jpg"></a></td>
                  <td><a href="https://www.instagram.com/krolmajtek_pl/"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/insta.jpg"></a></td>
                </tr>
              </tbody>
          </table>
          </center>
              
              
          
      </columns>
    </row>