  <container>
    <row class="collapse">
      <columns small="12" large="4" >
          <center>
        <img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/hlogo.jpg">
        </center>
      </columns>
      <columns small="12" large="8"  style="padding-top:14px;">
       
        <table style="width:250px" align="right">
          <tbody>
            <tr>
                <td style="width:30px;height: 23px;"><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/hmail.jpg" /></td>
                <td class="white-text" >sklep@krolmajtekpierwszy.pl</td> 
            </tr>
               <tr>
                <td><img src="http://photos05.redcart.pl/templates/images/description/1300/Image/newsletter_nowy/hphone.jpg" /></td>
                <td class="white-text">56 649 07 47</td> 
            </tr>
          </tbody>
        </table>
   
      </columns>
    </row>
      <row>
      <columns small="12">
          <center>
        <menu class="text-center">
            <item class="main-menu" href="https://krolmajtekpierwszy.pl/nowosci">NOWOŚCI</item>
            <item class="main-menu" href="https://krolmajtekpierwszy.pl/promocje">SALE</item>
            <item class="main-menu" href="https://krolmajtekpierwszy.pl/bielizna-meska">BIELIZNA</item>
            <item class="main-menu" href="https://krolmajtekpierwszy.pl/bizuteria-meska">BIŻUTERIA</item>
            <item class="main-menu" href="https://krolmajtekpierwszy.pl/dodatki-meskie">DODATKI</item>
</menu>    
              </center>
      </columns>
      </row>
  </container>

