  <container>
      <row class="collapse">
      <columns small="12" large="6">
        &nbsp;
      </columns>
      <columns small="12" large="3">
        <table align="right">
          <tbody>
            <tr>
                <td style="width:24px;height: 32px;"><img style="padding-top: 2px;" src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/phone.jpg" /></td>
                <td class="gold contact">+420 604517714</td>
            </tr>
          </tbody>
        </table>
      </columns>
      <columns small="12" large="3">
        <table align="right">
          <tbody>
            <tr>
                <td style="width:24px;height: 32px;"><img style="padding-top: 2px;" src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/mial.jpg" /></td>
                <td class="gold contact">info@estilosabroso.cz</td>
            </tr>
          </tbody>
        </table>
      </columns>
      </row>
        <row class="collapse">
          <columns small="12" large="12">
            <center>
              <img src="http://photos05.redcart.pl/templates/images/description/7864/Image/nnewsletter/LogoTop.jpg">
            </center>
          <columns>
        </row>


      <row>
      <columns small="12">
          <center>
        <menu class="text-center">
            <item class="main-menu" href="https://estilosabroso.cz/novinky">NOVINKY</item>
            <item class="main-menu" href="https://estilosabroso.cz/panske-naramky">PRO NĚJ</item>
            <item class="main-menu" href="https://estilosabroso.cz/panske-doplnky">DOPLŇKY PRO NÉJ</item>
            <item class="main-menu" href="https://estilosabroso.cz/pro-ni">PRO NI</item>
            <item class="main-menu" href="https://estilosabroso.cz/akce">AKCE </item>
        </menu>
              </center>
      </columns>
      </row>
</container>
