<row>
  <columns small="12" class="text-center">
    <p class="text-center">Tu wprowadź tekst</p>
  </columns>
</row>

<row>
    <columns small="12" large="12">
    <a href="https://estilosabroso.cz">
        <img src="http://via.placeholder.com/560x200" />
        </a>
    </columns>
</row>
   RC_PRODUCT_START
<row>
     <columns small="12" large="4" valign="middle">
         <center>
        RC_PHOTO
        </center>
    </columns>
     <columns small="12" large="8" valign="middle">
       <p class="text-center pname ">
         RC_NAME
       </p>

       <p class="text-center promoprice">
      RC_PRICE
    </p>

          <p class="text-center gold">
         <b>RC_PRICE_PROMOTION</b>
       </p>
    </columns>
</row>
   RC_PRODUCT_STOP
 <spacer size="10">&nbsp;</spacer>
<row>

<columns small="12">
    <p  class="text-center">
    <a class="see_more_gold " href="https://estilosabroso.cz"><b>VÍTEJTE VÍCE</b></a>
        </p>
</columns>
</row>
