<row>
  <columns small="12" large="12">
    <p class="text-center"> Tu wprowadź teskt </p>
  </columns>
</row>

<row>
    <columns small="12" large="12">
    <a href="https://krolmajtekpierwszy.pl">
        <img src="http://via.placeholder.com/560x400" />
        </a>
    </columns>
</row>

 <spacer size="10">&nbsp;</spacer>
<row>

<columns small="12">
    <p  class="text-center">
    <a class="see_more" href="https://krolmajtekpierwszy.pl"><b>ZOBACZ WIĘCEJ</b></a>
        </p>
</columns>
</row>
