<row>
    <columns small="12" large="8">
    <a href="https://krolmajtekpierwszy.pl">
        <img src="http://via.placeholder.com/383x275" />
        </a>
    </columns>
     <columns small="12" large="4">
       <a href="https://krolmajtekpierwszy.pl/p/152/10411/kapielowki-meskie-bokserki-supa-swim-retro-navy-kapielowki-bielizna-meska.html">
            <img src="https://static5.redcart.pl/templates/images/thumb/1300/450/450/pl/0/templates/images/products/1300/3ce9bd212aedec66e735688bb5446276.jpg">
        </a>
    </columns>
</row>
<row>
    <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10202/kapielowki-meskie-szorty-supa-swim-guard-pink--kapielowki-bielizna-meska.html">
            <img src="https://static2.redcart.pl/templates/images/thumb/1300/400/400/pl/0/templates/images/products/1300/8e3501450271cbedac3fb56698bac150.jpg">
        </a>
    </columns>
        <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10197/kapielowki-meskie-szorty-supa-swim-martinika-white--kapielowki-bielizna-meska.html">
            <img src="https://static2.redcart.pl/templates/images/thumb/1300/400/400/pl/0/templates/images/products/1300/ca4990d2ee4ee430a1be94bbcc2b431a.jpg">
        </a>
    </columns>
        <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10202/kapielowki-meskie-szorty-supa-swim-guard-pink--kapielowki-bielizna-meska.html">
            <img src="https://static3.redcart.pl/templates/images/thumb/1300/400/400/pl/0/templates/images/products/1300/a65606043daeb1cc344c8571260b641e.jpg">
        </a>
    </columns>
</row>
<row>
    
        <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10413/kapielowki-meskie-bokserki-supa-swim-retro-blue-kapielowki-bielizna-meska.html">
            <img src="https://static5.redcart.pl/templates/images/thumb/1300/450/450/pl/0/templates/images/products/1300/94c5f933406a9187819cc025d788c74a.jpg">
        </a>
    </columns>
        <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10412/kapielowki-meskie-bokserki-supa-swim-retro-grey-kapielowki-bielizna-meska.html">
            <img src="https://static4.redcart.pl/templates/images/thumb/1300/450/450/pl/0/templates/images/products/1300/d7f875f8e708a302a14c881464eb1b9a.jpg">
        </a>
    </columns>
        <columns small="12" large="4">
        <a href="https://krolmajtekpierwszy.pl/p/152/10411/kapielowki-meskie-bokserki-supa-swim-retro-navy-kapielowki-bielizna-meska.html">
            <img src="https://static5.redcart.pl/templates/images/thumb/1300/450/450/pl/0/templates/images/products/1300/3ce9bd212aedec66e735688bb5446276.jpg">
        </a>
    </columns>
</row>
 <spacer size="10">&nbsp;</spacer>
<row>    
    
<columns small="12">
    <p  class="text-center">
    <a class="see_more" href="https://krolmajtekpierwszy.pl"><b>ZOBACZ WIĘCEJ</b></a>
        </p>
</columns>
</row>