
<row>
     <columns small="12">
       <p class="text-center">Tu wprowadź tekst</p>
     </columns>
</row>
<row>
    <columns small="12" large="12">
    <a href="https://estilosabroso.cz">
        <img src="http://via.placeholder.com/560x200" />
        </a>
    </columns>
</row>


 <spacer size="10">&nbsp;</spacer>
<row>

<columns small="12">
    <p  class="text-center">
    <a class="see_more_gold " href="https://estilosabroso.cz"><b>VÍTEJTE VÍCE</b></a>
        </p>
</columns>
</row>
