@import 'settings';
@import 'foundation-emails';

@import 'template/template';


.header {
    background: #000;
}

.white-text {
    color:#fff;
    font-size: 14px;
}

table.menu th.main-menu a{
    color:#ffffff;
    font-weight: bold;
    font-size:14px;
}

.header .wrapper-inner {
    padding-top:10px;
    padding-bottom:10px;
}

.see_more {
    color:#ffffff;
    font-size:16px;
    padding-right: 50px;
    padding-left:50px;
    padding-top:10px;
    padding-bottom: 10px;
    background: #FF0665;
    background-color: #FF0665;
    border-radius: 7px;
}

.see_more b {
    color:#ffffff;
}

.see_more_gold {
    color:#ffffff;
    font-size:16px;
    padding-right: 50px;
    padding-left:50px;
    padding-top:10px;
    padding-bottom: 10px;
    background: #954F28;
    background-color: #954F28;
}

.see_more_gold b {
    color:#ffffff;
}


.small-text {
    font-size:14px;
}

.pink_text {
    color:#FF0665;
    font-size:18px;
}

.border-top {
    border-top:1px solid #b5b5b5;
}

.pname a {
    color: #2f2f2f;
    text-decoration: none;
}

.gold {
  color:#954F28;
}
.contact {
  font-size:12px;
  font-weight: bold;
}

.white-contact {
  color:#ffffff;
}

.promoprice {
color: #9c9c9c;
text-decoration: line-through;
}
