---
subject: My Basic Email Template Subject
---

<wrapper class="header">
{{> header}}
</wrapper>

<container>

  <spacer size="0">&nbsp;</spacer>
  
  {{> main_2 }}
 

    <spacer class="border-top" size="16"></spacer>
{{> footer}}
</container>
<wrapper class="header">
&nbsp;
</wrapper>

