---
subject: My Basic Email Template Subject
---

<wrapper class="header">
{{> header1}}
</wrapper>

<container>

  <spacer size="0">&nbsp;</spacer>

  {{> blank_center}}


    <spacer class="border-top" size="16"></spacer>

</container>
<wrapper class="header">
&nbsp;
</wrapper>
