---
subject: My Basic Email Template Subject
---

<wrapper class="header">
{{> header0_cz}}
</wrapper>

<container>

  <spacer size="0">&nbsp;</spacer>

  {{> main_40_cz }}
</container>
<wrapper class="header">s

{{> footer0_cz}}


</wrapper>
