---
subject: My Basic Email Template Subject
---

<wrapper class="header">
{{> header0}}
</wrapper>

<container>

  <spacer size="0">&nbsp;</spacer>

  {{> main_4 }}
</container>
<wrapper class="header">s

{{> footer0}}


</wrapper>
